.meet-doctors {
	text-align: center;
	margin-top: 2rem;
}

.meet-doctors::after {
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	background-color: var(--button-primary-background);
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 20px;
}

.meet-doctors-subtitle {
	font-size: 1.2rem;
	color: #444;
	text-align: center;
	width: 60vw;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}



.gallery {
	/* display: flex; */
	/* flex-wrap: wrap; */
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	width: 80vw;
	margin: 0 auto;
}

.gallery-item {
	position: relative;
	/* width: 200px; */
	/* height: 200px; */
	overflow: hidden;
	border-radius: 4px;
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.3s ease-in-out;
	cursor: pointer;
}

.gallery-item:hover img {
	transform: scale(1.1);
}

.gallery-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;


	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}

.gallery-item:hover .gallery-overlay {
	opacity: 1;
}

.gallery-overlay h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.gallery-overlay p {
	margin: 5px 0 0;
	font-size: 14px;
}

.gallery-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.gallery-modal img {
	max-width: 90%;
	max-height: 90%;
	object-fit: contain;
	cursor: pointer;
}



.btn-container {
	text-align: center;
}

.all-services-button {
	display: inline-block;
	background-color: var(--button-primary-background);
	color: var(--button-primary-text);
	padding: 0.5rem 2rem;
	border-radius: 40px;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.all-services-button:hover {
	background-color: #000;
	color: #fff;
}



@media (max-width: 768px) {
	.gallery-item {
		width: calc(50% - 10px);
	}

	.gallery {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (max-width: 576px) {
	.gallery-item {
		width: calc(100% - 10px);
	}

	.gallery {
		grid-template-columns: repeat(1, 1fr);
	}

}