.meet-doctors {
	text-align: center;
	margin-top: 2rem;
}

.meet-doctors::after {
	content: "";
	display: block;
	width: 100px;
	height: 3px;
	background-color: var(--button-primary-background);
	margin: 0 auto;
	margin-bottom: 10px;
	border-radius: 20px;
}

.meet-doctors-subtitle {
	font-size: 1.2rem;
	color: #444;
	text-align: center;
	width: 60vw;
	margin: 0 auto;
	margin-top: 1rem;
}


.doctor-card-container {
	display: flex;
	justify-content: center;
	margin-top: 2rem;
}


.doctor-card-title {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.doctor-card-description {
	font-size: 1rem;
	margin-bottom: 1rem;
}

.doctor-card-button {
	display: inline-block;
	padding: 0.5rem 1rem;
	border: 1px solid #fff;
	border-radius: 12px;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.3s ease;
	background-color: transparent;


}

.doctor-card-button:hover {
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}


/* my css */
.doctorCard {

	color: #fff;
	display: flex;
	/* max-height: 300px; */
	padding: 2%;
	margin: auto;
	gap: 5%;
	overflow: hidden;

}

.doctorCard:nth-child(2n) {
	background-color: #117c94;
}

.doctorCard:nth-child(2n+1) {
	background-color: #2093ac;
}

.doctorImage>img {
	width: 100%;
	height: auto;
}

.doctorContent {
	display: flex;
	flex-direction: column;
	align-items: start;
}



/* screen */

/* set container 1 image per side */

@media screen and (max-width: 768px) {
	.doctorCard {
		flex-direction: column;
	}

	.doctorImage {
		width: 80%;
		margin: 0 auto;
	}

	.doctorContent {
		width: 80%;
		margin: 0 auto;
	}

	.doctor-card-container {
		flex-direction: column;
	}

	.doctor-card-button {
		margin: 0 auto;
	}
}