.footer {
    /* position: fixed; */
   left: 0;
   padding: 1.5rem 0;
   bottom: 0;
   width: 100%;
   background-color: black;
   color: white;
   text-align: center;
  }
  
  .text {
    margin: 0;
    font-size: 14px;
  }
  